@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

:root {
  --primaryColor: #534d4d;
  --hoverColor: #83a2eb;
  --hgtext: #315fca;
  --buttonBgColor: rgb(120, 120, 212);
  --buttonFgColor: rgb(228, 240, 240);
  --buttonHvColor: rgb(85, 82, 100);
  /* --buttonHvColor: rgb(30, 27, 40); */
  --link-color: #8d8282;
  --background-color: #ffffff;
}

body {
  height: 100vh;
  /* text-align: center; */
  background-color: var(--background-color);
  padding: 0.1rem;
}

.header-container {
  /* background-color: blanchedalmond; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* width: 60%; */
  max-width: 980px;
  margin: 0 auto;
}

.brand-logo {
  height: 1.3rem;
  width: 1.3rem;
}

.heading-logo-name {
  display: flex;
  gap: 0.4rem;
}
.logo-name {
  font-weight: bold;
  font-size: 1.375rem;
  color: var(--primaryColor);
}
.nav-links {
  display: flex;
  gap: 13px;
}
.a-links {
  /* gap: 20px; */
  color: var(--link-color);
}

.a-links:hover {
  color: var(--hoverColor);
}

.contact-us {
  display: bold;
}

.HamburgerMenu {
  display: none;
}

@media screen and (max-width: 1090px) {
  .contact-us {
    display: none;
  }

  .nav-links {
    /* animation: slideIntoHamburger 1s ease-out forwards; */
    display: none;
    gap: 13px;
  }
  .HamburgerMenu {
    display: block;
    height: 1.8rem;
    width: 1.8rem;
    color: var(--primaryColor);
    /* background-color: var(--link-color); */
  }

  @keyframes slideIntoHamburger {
    0% {
      opacity: 0;
      transform: translateX(0);
    }
    50% {
      opacity: 1;
      transform: translateX(1000%);
    }
  }
}

.HamburgerMenu:hover {
  transform: scale(1);
}
#contact-button {
  background-color: var(--buttonBgColor);
  padding: 0.5rem;
  border-radius: 4px;
  color: var(--buttonFgColor);
}

#contact-button:hover {
  background-color: var(--buttonHvColor);
  border: 1px soild red;
}

.content-container {
  display: flex;
  justify-content: center;
  /* align: center; */
  max-width: 980px;
  margin: 0 auto;
}
.content-holder {
  /* background-color: burlywood; */
  display: flex;
  justify-content: start;
  margin: 20px auto;
  /* align-items: center; */
  /* flex-direction: column; */
}

.left-content {
  display: flex;
  width: 50%;
  padding: 50px 70px 50px 0;
  justify-content: start;
  flex-direction: column;
  animation: slide-from-left 1s ease-in forwards;
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
}
.right-content {
  width: 50%;
}

#left-cont-para {
  color: var(--hgtext);
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
}

#left-cont-heading {
  font-size: 2.4rem;
  margin: 0 0 10px 0;
  font-weight: bold;
}

#left-cont-desc {
  color: var(--primaryColor);
  padding: 30px 0;
  font-size: 0.8rem;
  width: 80%;
}

.button-holder {
  display: flex;
  margin: 10px 0;
  gap: 15px;
}

#start-now {
  color: white;
  background-color: #6690f2;
  padding: 10px 20px;
  border-radius: 6px;
}

#start-now:hover {
  background-color: #315fca;
}

#take-tour {
  background-color: #6c6262;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
}

#take-tour:hover {
  background-color: rgb(72, 67, 60);
}

.left-img-hld {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

@media screen and (max-width: 1090px) {
  .content-holder {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .left-content {
    padding: 0;
    width: 100%;
  }
  #left-cont-para {
    font-size: 1.2rem;
  }

  .right-content {
    margin-top: 20px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  #left-cont-heading {
    font-size: 2.9rem;
    /* margin: 0 0 10px 0; */
    font-weight: bold;
  }

  #left-cont-desc {
    width: 100%;
    font-size: 1.2rem;
  }
  .button-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
}

.company-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.company-grid {
  background-color: rgb(193, 205, 205);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
  padding: 30px 30px;
  border-radius: 10px;
  animation: slide-from-left 1s ease-in forwards;
}

.company-logo {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 5px;
}

.company-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.3rem;
}

.svg-img {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 750px) {
  .company-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .company-logo {
    padding: 10px;
  }
}

.feature-card-container {
  background-color: rgb(234, 231, 220);
}

.feature-heading {
  max-width: 780px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.feature-title {
  margin: 20px auto;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-heading-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.feature-grid {
  max-width: 780px;
  margin: 20px auto;
  display: grid;
  /* padding: 1.6rem; */
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.card-img {
  background-color: #fff;
  border-radius: 50%;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
}

.card-svg {
  height: 1rem;
  width: 1rem;
}
.card-holder {
  /* padding: 20px; */
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}
.card-holder:nth-child(1) {
  background-color: #ff6289;
}

.card-holder:nth-child(2) {
  background-color: #fcbf58;
}
.card-holder:nth-child(3) {
  background-color: #315fca;
}
.card-holder:nth-child(4) {
  background-color: #44bfc3;
}
.card-holder:nth-child(5) {
  background-color: #77b05d;
}

.card-holder:nth-child(6) {
  background-color: #7d78b1;
}

.card-desc {
  text-align: center;
  color: white;
  /* margin: 10px; */
  font-size: 0.9rem;
}

.card-heading {
  color: white;
  margin: 10px 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .feature-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
