* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: beige;
}
.container {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  /* grid-column: 3;
  grid-row: 2; */
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.item {
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  background-color: rgb(129, 103, 103);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-rows: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr;  */
    grid-template-columns: repeat(3, 1fr);
  }

  .header,
  .footer {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .sidebar {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .content1 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
